In [14]:
import pandas as pd
#importing the data file

df = pd.read_excel('supermarket_sales.xlsx')

df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [15]:
#to drop a specific column

new_df = df.drop(columns = 'City')

new_df

,Invoice ID,Branch,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [16]:
#to read a specified row

df.iloc[999]

Invoice ID                         849-09-3807
Branch                                       A
City                                    Yangon
Customer type                           Member
Gender                                  Female
Product line               Fashion accessories
Unit price                               88.34
Quantity                                     7
Tax 5%                                  30.919
Total                                  649.299
Date                       2019-02-18 00:00:00
Time                                  13:28:00
Payment                                   Cash
cogs                                    618.38
gross margin percentage               4.761905
gross income                            30.919
Rating                                     6.6
Name: 999, dtype: object

In [17]:
#to read a specific location

new_df = df.iloc[0:4]

new_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4

In [18]:
#adding new columns- 'Tax 10%'

df['Tax 10%'] = df['cogs'] * 0.1

df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Tax 10%
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1,52.283
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6,7.640
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4,32.431
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4,46.576
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3,60.417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2,4.035
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4,97.380
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7,3.184
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1,6.582
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6,61.838

In [23]:
#rearranging columns - moving the 'Tax 10%' column next to the 'Tax 5%'

cols = list(df.columns)

df = df[cols[0:9] + [cols[-1]] + cols[9:17]]

df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Tax 10%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,52.283,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,7.640,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,32.431,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,46.576,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,60.417,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,4.035,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,97.380,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,3.184,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,6.582,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,61.838,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [24]:
#filtering data

new_df = df.loc[(df['Gender'] == 'Male') & (df['City'] == 'Yangon') & (df['Unit price'] > 50)]

#not containing, use (~)

#new_df = df.loc[~(df['Gender'] == 'Male') & ~(df['City'] == 'Yangon') & (df['Unit price'] > 50)]
                                   
new_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Tax 10%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,46.576,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,60.417,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,43.566,457.4430,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.7830,6.9
18,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,16.401,172.2105,2019-01-21,18:00:00,Credit card,164.01,4.761905,8.2005,8.6
24,549-59-1358,A,Yangon,Member,Male,Sports and travel,88.63,3,13.2945,26.589,279.1845,2019-03-02,17:36:00,Ewallet,265.89,4.761905,13.2945,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.1515,24.303,255.1815,2019-01-13,12:55:00,Credit card,243.03,4.761905,12.1515,9.3
973,531-56-4728,A,Yangon,Normal,Male,Home and lifestyle,80.08,3,12.0120,24.024,252.2520,2019-02-11,15:29:00,Cash,240.24,4.761905,12.0120,5.4
981,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.6300,23.260,244.2300,2019-01-23,17:44:00,Cash,232.60,4.761905,11.6300,8.4
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,11.606,121.8630,2019-03-10,20:46:00,Ewallet,116.06,4.761905,5.8030,8.8
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,6.582,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1

In [25]:
#resetting index

new_df.reset_index()

,index,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Tax 10%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,46.576,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
1,4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,60.417,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
2,17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,43.566,457.4430,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.7830,6.9
3,18,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,16.401,172.2105,2019-01-21,18:00:00,Credit card,164.01,4.761905,8.2005,8.6
4,24,549-59-1358,A,Yangon,Member,Male,Sports and travel,88.63,3,13.2945,26.589,279.1845,2019-03-02,17:36:00,Ewallet,265.89,4.761905,13.2945,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,967,195-06-0432,A,Yangon,Member,Male,Home and lifestyle,81.01,3,12.1515,24.303,255.1815,2019-01-13,12:55:00,Credit card,243.03,4.761905,12.1515,9.3
97,973,531-56-4728,A,Yangon,Normal,Male,Home and lifestyle,80.08,3,12.0120,24.024,252.2520,2019-02-11,15:29:00,Cash,240.24,4.761905,12.0120,5.4
98,981,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.6300,23.260,244.2300,2019-01-23,17:44:00,Cash,232.60,4.761905,11.6300,8.4
99,992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,11.606,121.8630,2019-03-10,20:46:00,Ewallet,116.06,4.761905,5.8030,8.8
100,998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,6.582,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1

In [26]:
#filtering base on texual pattern

df.loc[df['City'].str.contains ('gon')]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Tax 10%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,52.283,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,32.431,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,46.576,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,60.417,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,41.304,433.6920,2019-02-25,14:36:00,Ewallet,413.04,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,28.280,296.9400,2019-03-22,19:06:00,Credit card,282.80,4.761905,14.1400,4.5
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,11.606,121.8630,2019-03-10,20:46:00,Ewallet,116.06,4.761905,5.8030,8.8
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,3.184,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,6.582,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,61.838,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [27]:
#aggregate statistics (group by)

df.groupby(['Product line']).mean().sort_values(['gross income'])

,Unit price,Quantity,Tax 5%,Tax 10%,Total,cogs,gross margin percentage,gross income,Rating
Product line,,,,,,,,,
Fashion accessories,57.153652,5.067416,14.528062,29.056124,305.089298,290.561236,4.761905,14.528062,7.029213
Electronic accessories,53.551588,5.711765,15.220597,30.441194,319.632538,304.411941,4.761905,15.220597,6.924706
Food and beverages,56.008851,5.471264,15.365310,30.730621,322.671517,307.306207,4.761905,15.365310,7.113218
Health and beauty,54.854474,5.618421,15.411572,30.823145,323.643020,308.231447,4.761905,15.411572,7.003289
Sports and travel,56.993253,5.542169,15.812630,31.625259,332.065220,316.252590,4.761905,15.812630,6.916265
Home and lifestyle,55.316937,5.693750,16.030331,32.060662,336.636956,320.606625,4.761905,16.030331,6.837500

In [28]:
df.groupby(['Product line']).sum().sort_values(['gross income'])

,Unit price,Quantity,Tax 5%,Tax 10%,Total,cogs,gross margin percentage,gross income,Rating
Product line,,,,,,,,,
Health and beauty,8337.88,854,2342.5590,4685.118,49193.7390,46851.18,723.809524,2342.5590,1064.5
Home and lifestyle,8850.71,911,2564.8530,5129.706,53861.9130,51297.06,761.904762,2564.8530,1094.0
Fashion accessories,10173.35,902,2585.9950,5171.990,54305.8950,51719.90,847.619048,2585.9950,1251.2
Electronic accessories,9103.77,971,2587.5015,5175.003,54337.5315,51750.03,809.523810,2587.5015,1177.2
Sports and travel,9460.88,920,2624.8965,5249.793,55122.8265,52497.93,790.476190,2624.8965,1148.1
Food and beverages,9745.54,952,2673.5640,5347.128,56144.8440,53471.28,828.571429,2673.5640,1237.7